<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Your template already exists</h1>
    <form action="/template_already_exists_in_crontab/" method="post">
      {% csrf_token %}
      <p>Delete template and create new</p><input type="radio" name="Delete" value="on"><br>
      <p>Leave your template</p><input type="radio" name="Delete" value="off"><br>
      <input type="submit" name="" value="Submit">
    </form>

</body>
</html>
