<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Чтобы задать парсер на каждый час, нужно написать в минутах. Выбрать минуты, и вписать 60
<form action="/template/ " method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <p>
       <input type="file" name="file"><br/><br/>
       <p>Every <input type="text" name="time" style="width:20px;">
       <select name="every">
           <option>Minute</option>
           <option>Hour</option>
           <option>Day</option>
       </select></p><br/><br/>
       <input type="submit" value="Отправить">
   </p>
</form>

</body>
</html>
